@mixin component-island {
  .island,
  .islet {
    display: block;
  }

  .island{
    padding: $computed-line-height;
  }
  .island > :last-child,
  .islet > :last-child {
    margin-bottom: 0;
  }


  /**
   * Just like `.island`, only smaller.
   */
  .islet{
      padding: $computed-line-height / 2;
  }
}
